<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.file.mapper.UploadFileMapper">

    <insert id="addUploadFile" parameterType="com.bc.file.entity.UploadFile">
        INSERT INTO shop_upload_file
        (
        file_id,
        file_path,
        store_id,
        create_time,
        update_time
        )
        VALUES
        (
        #{fileId},
        #{filePath},
        #{storeId},
        now(),
        now()
        )
    </insert>

</mapper>