<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.store.mapper.StoreUserMapper">

    <resultMap id="storeUser" type="com.bc.store.entity.StoreUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="is_super" property="isSuper" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addStoreUser" parameterType="com.bc.store.entity.StoreUser">
        INSERT INTO shop_store_user
        (
        id,
        store_id,
        user_name,
        real_name,
        password,
        sort,
        create_time,
        update_time
        )
        VALUES
        (
        #{id},
        #{storeId},
        #{userName},
        #{realName},
        #{password},
        #{sort},
        now(),
        now()
        )
    </insert>

    <update id="updateStoreUser" parameterType="com.bc.store.entity.StoreUser">
        UPDATE shop_store_user
        SET user_name = #{userName},
        real_name = #{realName},
        password = #{password},
        sort = #{sort},
        update_time = now()
        where id = #{id}
    </update>

    <select id="getStoreUserList" resultMap="storeUser">
        SELECT *
        FROM shop_store_user
        WHERE store_id = #{storeId}
        ORDER BY sort ASC
    </select>

    <delete id="deleteStoreUser" parameterType="String">
        DELETE
        FROM shop_store_user
        WHERE id = #{id}
    </delete>

</mapper>